<ion-header>
  <ion-toolbar>
    <ion-title >Beaconer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/logo.png" alt=""/>
    <ion-card-header>
      <ion-card-title>Welcome to Beaconer app</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Mobile application use for display the contents of the beacon of {{project_name}}
      </p>
    </ion-card-content>
  </ion-card>
  <app-client-list></app-client-list>
</ion-content>
